html{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 80%;
    font-family: "Nunito sans";
}
header{
    display: flex;
    color: darkslateblue;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
}
main{
    display: flex;
    flex-flow: row, wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4em;
}
main>img{
    width: 30%;
    height: 80%;
}
main>article{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    
}
h5{
    display: flex;
    border-radius: 100px;
    color: white;
    justify-content: center;
    border: 3px solid darkslateblue;
    background-color: darkslateblue;
    width: 65%;
    height:10%;
}
h1{
    font-size: 2.5em;
    color: darkslateblue;
    height: 15%;
}
form{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20%;
    align-items: center;
}
input[type=email]{
    width: 50%;
    height: 100%;
}
input[type=submit]{
    border-radius: 10px;
    background-color: darkslateblue;
    color: white;
    width: 30%;
    height: 130%;
    border: 3px solid darkslateblue;
}
input[type=submit]:hover{
    background-color: white;
    color: darkslateblue;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
header section{
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
footer section{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
section>a{
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 17%;
    align-items: center;
    justify-content: center;
}
a#active{
    background-color: darkslateblue;
    border-radius: 10px;
    color: white;
    border: 1px solid darkslateblue;
    
}
a#active:hover{
    background-color: white;
    color: darkslateblue;
}